<!DOCTYPE html>
<html>
  <head>
    <title>Comunicate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/ComStyle.css">
  </head>
  <body>
    <div id="mainBox">
      <h1 id="Title">Console communicate</h1>
      <label id="nameUser"></label>
      <button id="Exit" onclick="window.location.href = '/'">Back</button>
      <textarea id="MessageShow" readonly></textarea>
      <label id="Recipient">Recipient</label>
      <textarea id="RecipientName"></textarea>
      <textarea id="IdEntry"></textarea>
      <label id="Id">Id</label>
      <textarea id="TextEntry"></textarea>
      <label id="Message">Message</label>
    </div>

    <script src="/ViewModel/ComunicateWindow.js"></script>
  </body>
</html>