body {
  margin: 0px;
}

.mainWindow {
  position: relative;
  top: 10px;
  left: 0px;
  margin: 0px;
  width: 800px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#startTitle {
  position: absolute;
  width: auto;
  height: 22pt;
  font-size: 22pt;
  font-family: monospace;
  margin: 0px;
}

#nameEntry {
  position: absolute;
  resize: none;
  min-width: 150px;
  width: 150px;
  max-width: 300px;
  height: 24px;
  font-size: 12pt;
  font-family: monospace;
  top: 37px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
