<!DOCTYPE html>
<html>
  <head>
    <title>Communicate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/ComStyle.css">
  </head>
  <body>
    <div id="mainBox">
      <label id="Title">Console communicate</label>
      <button id="Exit">Back</button>
      <textarea id="MessageShow" readonly></textarea>
      <label id="Recipient">Recipient</label>
      <textarea id="RecipientName"></textarea>
      <textarea id="IdEntry"></textarea>
      <label id="Id">Id</label>
      <textarea id="TextEntry"></textarea>
      <label id="Message">Message</label>
    </div>
  </body>
</html>