body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 665px;
  height: 411px;
  background: black;
  border: 1px solid #afafaf;
}

#mainBox{
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  width: 665px;
  height: 411px;
}

#Title {
  position: absolute;
  top: 10px;
  font-size: 16pt;
  font-family: monospace;
  color: #b99c70;
}

#Exit {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #afafaf;
  background: transparent;
  color: #a32121;
}

#MessageShow {
  position: absolute;
  width: 642px;
  height: 279px;
  top: 120px;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  color: black;
  background-color: #afafaf;
}

#Recipient {
  position: absolute;
  top: 75px;
  left: 10px;
  height: 30px;
  background: #afafaf;
  resize: none;
  color: black;
}