body {
  margin: 0px;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mainWindow {
  position: relative;
  margin: 10px 0px 0px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#startTitle {
  position: absolute;
  width: auto;
  height: 22pt;
  font-size: 22pt;
  font-family: monospace;
  margin: 0px;
  color: #d4a281;
}

#nameEntry {
  position: absolute;
  resize: none;
  min-width: 150px;
  width: 150px;
  max-width: 300px;
  height: 24px;
  font-size: 12pt;
  font-family: monospace;
  top: 37px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color: #d4a281;
  background: #4e4e4e;
}

#OpenConsoleCommand {
  position: absolute;
  top: 150px;
  left: 50px;
  background: #4e4e4e;
  color: #d4a281;
}

#OpenConsoleMessage{
  position: absolute;
  top: 150px;
  right: 50px;
  background: #4e4e4e;
  color: #d4a281;
}
